# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# Supabase (obtener de tu proyecto en Supabase Dashboard)
SUPABASE_URL = 'https://pfjdavhuriyhtqyifwky.supabase.co'
SUPABASE_ANON_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmamRhdmh1cml5aHRxeWlmd2t5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDg2MjY0MDAsImV4cCI6MjAyNDIwMjQwMH0.OlIfWioRlPSdK_h_CAEB0WPzBKyXl6GrfVaShPHB-NM'
SUPABASE_SERVICE_ROLE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmamRhdmh1cml5aHRxeWlmd2t5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcwODYyNjQwMCwiZXhwIjoyMDI0MjAyNDAwfQ.De7ZQlNqlQWt3VI8b-ZUHG_WO27ZrkavzAsKlnf8_6I'
SUPABASE_JWT_SECRET = 'BAiBM0H5JQz40Im/3I4NLkt5DQsUGltqre4h5yM1AL9sU9CYJaHR/lFioAgSve8UZQZBNi+b4tAcuI6wQWRNtw=='

# App
PORT=3000
NODE_ENV=development
FRONTEND_URL="http://localhost:3001"

# JWT (ya no es necesario, usamos el de Supabase)
# JWT_SECRET="your-jwt-secret-change-this"
# JWT_EXPIRATION="7d"
